body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    width: 550px;
    margin: 15px;
    padding: 10px;
}
.container img{
    max-width: 100%;
    border-radius: 7px;
    cursor: pointer;
}
.container h1{
    color: white;
    font-weight: 400;
}
.container p{
    color : white;
    line-height: 1.3;
}
.container .btn{
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    transition: 0.5s;
    cursor: pointer;
}
.container .btn:hover{
    background-color: orange;
}
.trailer-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active.trailer-container{
    visibility:hidden ;
}
.trailer-container video{
    /* position: relative; */
    max-width: 900px;
    outline: none;
}

@media (max-width : 991px){
    .trailer-container video{
        max-width: 90%;
    }
}

.trailer-container .close-icon{
    position: absolute;
    color: white;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
